/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap .sitemap_block .page-subheading, #sitemap #listpage_content h3.page-subheading {
   border-bottom: 1px solid #d1d1d1;
    margin-bottom: 16px;
    padding-bottom: 10px;
    width: 80%;
}

#sitemap .sitemap_block li {
    line-height: 16px;
    padding-bottom: 11px;
}

#sitemap .sitemap_block li a:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 10px;
}


#listpage_content div.tree_top {
  padding: 5px 0 0 27px;
    text-align: left;
}

#listpage_content div.tree_top a:before {
    content: "\f015";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 20px;
    color: #333333;
}

#listpage_content div.tree_top a:hover:before {
    color: #515151;
}

.categTree ul.tree {
    padding-left: 24px;
    text-align: left;
}

.categTree ul.tree li {
    margin: 0 0 0 21px;
    padding: 5px 0 0 33px;
    border-left: 1px solid #d6d4d4;
    background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
}



.categTree ul.tree > li {
    margin: 0 0 0 11px;
}

.categTree ul.tree li.last {
    border: medium none;
    background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
}
#sitemap ul {
    margin: 0 !important;
}