<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tdpsthemeoptionpanel</name>
	<displayName><![CDATA[Barberry Theme Options Panel]]></displayName>
	<version><![CDATA[2.0.1]]></version>
	<description><![CDATA[Barberry Prestashop Themes Option Panel By ThemesDeveloper]]></description>
	<author><![CDATA[ThemesDeveloper]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>